/* Resetta margini e padding per tutti gli elementi */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Stile del body */
body, html {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e60000;
    font-family: Arial, sans-serif;
    color: #333;
    overflow: hidden;
}

/* Contenitore principale */
.container {
    height: 80vh;
    text-align: center;
    margin-top: 2vh;
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    overflow-y: scroll;
}

#quizForm{
    
}

/* Titolo del questionario */
h1 {
    font-size: 2.2em;
    margin-bottom: 20px;
    color: #e60000; /* Rosso */
}

h2 {
    font-size: 1.5em;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #e60000; /* Rosso */
}


/* Stile per le etichette delle risposte */
label {
    display: block;
    margin: 10px 0;
    font-size: 1.1em;
}

/* Stile per i piccoli dettagli */
small {
    font-size: 0.9em;
    color: #666;
}

/* Stile per i pulsanti radio */
input[type="radio"] {
    margin-right: 10px;
}

/* Stile per il pulsante di invio */
button {
    background-color: #e60000; /* Rosso */
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-top: 20px;
}

/* Effetto hover sul pulsante di invio */
button:hover {
    background-color: #cc0000; /* Rosso scuro */
}

/* Stile per l'immagine di benvenuto */
.welcome-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}